body{
    background-color: #000;
    color: #fff;
/*    color: #76ff03;*/
}

.fa{

    padding-bottom: 1.5em;
    
    
}
/*
 .fa-calendar{
    color: #76ff03;
}
*/
.fa:hover{
    color: #76ff03;
}

#compile{
    font-family: 'IBM Plex Sans Condensed', sans-serif;
    font-size: 7.5vw;
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: 0;
    padding: 0 0.3em;
    color: #76ff03;
}
#compile:hover{
    color: white;
}

/*
p{
    display: inline;
}
*/
#date{
    border-left: 2px solid #76ff03;
    padding: 0 0.5em;
    font-size: 1.1em;
     
}
#venue{
    border-left: 2px solid #76ff03;
    border-right: 2px solid #76ff03;
     padding: 0 0.5em;
    font-size: 1.2em;
}