body{
    background-color: black;
    color: #fff;
/*    color: #76ff03;*/
}

.fa{

    padding-bottom: 1.5em;
    
    
}
 .fa-calendar, .fa-map-marker{
/*    color:#8ed200;*/
     color:#b1ef36;
}
.fa:hover{
    color: #b1ef36;
}

#compile{
/*    font-family: 'IBM Plex Sans Condensed', sans-serif;*/
    font-size: 7.5vw;
   font-weight: 700;
    line-height: 1.1;
    letter-spacing: 0;
    padding: 0 0.3em;
    color: #b1ef36;
    font-family: 'Londrina Outline', cursive;
}
/*
#compile:hover{
    color: white;
}
*/

/*
p{
    display: inline;
}
*/
#date{
/*    border-right: 2px solid #76ff03;*/
    padding: 0 0.5em;
/*    font-size: 1.1em;*/
     
}
#venue{
    
/*    border-right: 2px solid #76ff03;*/
     padding: 0 0.5em;
/*    font-size: 1.2em;*/
}
#border{
    border-left: 2px solid #76ff03;
}
.jumbotron{
    background-color:black;
    
}